In [5]:
import pandas as pd
import numpy as np
from datetime import date
import requests
from io import StringIO
import schedule
import time

import plotly.express as px
import plotly.graph_objects as go
from jupyter_dash import JupyterDash
from dash import dcc
from dash import html
from sqlalchemy import create_engine

In [50]:
today = date.today()
today = '20220907'
r = requests.get('http://www.tse.com.tw/fund/T86?response=csv&date='+today+'&selectType=ALLBUT0999')
df = pd.read_csv(StringIO(r.text) , header = 1).dropna(how='all' ,axis =1 ).dropna(how='any')
df

,證券代號,證券名稱,外陸資買進股數(不含外資自營商),外陸資賣出股數(不含外資自營商),外陸資買賣超股數(不含外資自營商),外資自營商買進股數,外資自營商賣出股數,外資自營商買賣超股數,投信買進股數,投信賣出股數,投信買賣超股數,自營商買賣超股數,自營商買進股數(自行買賣),自營商賣出股數(自行買賣),自營商買賣超股數(自行買賣),自營商買進股數(避險),自營商賣出股數(避險),自營商買賣超股數(避險),三大法人買賣超股數
0,"=""00632R""",元大台灣50反1,"8,516,000","3,631,000","4,885,000",0.0,0.0,0.0,0,0,0,"98,712,066","1,530,000","1,845,000","-315,000","114,888,066","15,861,000","99,027,066","103,597,066"
1,"=""00673R""",期元大S&P原油反1,"1,027,000","1,707,000","-680,000",0.0,0.0,0.0,0,0,0,"37,508,531",0,0,0,"40,733,531","3,225,000","37,508,531","36,828,531"
2,"=""00664R""",國泰臺灣加權反1,0,"47,000","-47,000",0.0,0.0,0.0,0,0,0,"6,889,000",0,0,0,"9,674,000","2,785,000","6,889,000","6,842,000"
3,"=""00637L""",元大滬深300正2,"3,278,000","1,090,000","2,188,000",0.0,0.0,0.0,0,0,0,"2,970,583",0,0,0,"12,355,200","9,384,617","2,970,583","5,158,583"
4,3481,群創,"23,101,010","16,387,000","6,714,010",0.0,0.0,0.0,0,"300,000","-300,000","-1,931,726","307,000","1,232,000","-925,000","415,000","1,421,726","-1,006,726","4,482,284"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121,2888,新光金,"9,410,576","26,670,067","-17,259,491",0.0,0.0,0.0,0,0,0,"-2,247,036","305,000","2,418,170","-2,113,170","293,000","426,866","-133,866","-19,506,527"
1122,2887,台新金,"7,851,083","29,901,940","-22,050,857",0.0,0.0,0.0,"91,000",0,"91,000","-1,235,029","225,000","1,285,029","-1,060,029","96,000","271,000","-175,000","-23,194,886"
1123,"=""0056""",元大高股息,"520,913","2,768,000","-2,247,087",0.0,0.0,0.0,0,0,0,"-22,925,325","189,000","412,756","-223,756","96,000","22,797,569","-22,701,569","-25,172,412"
1124,"=""00715L""",期街口布蘭特正2,"1,799,000","7,050,000","-5,251,000",0.0,0.0,0.0,0,0,0,"-35,162,000",0,0,0,"5,434,000","40,596,000","-35,162,000","-40,413,000"
1125,"=""00878""",國泰永續高股息,"2,051,692","22,358,000","-20,306,308",0.0,0.0,0.0,0,0,0,"-52,662,294",0,0,0,"4,735,000","57,397,294","-52,662,294","-72,968,602"

In [51]:
df = df.astype(str).apply(lambda s: s.str.replace('"' , ''))

In [52]:
df['證券代號'] = df['證券代號'].str.replace('=' , '').str.replace('"' , '')

In [53]:
df

,證券代號,證券名稱,外陸資買進股數(不含外資自營商),外陸資賣出股數(不含外資自營商),外陸資買賣超股數(不含外資自營商),外資自營商買進股數,外資自營商賣出股數,外資自營商買賣超股數,投信買進股數,投信賣出股數,投信買賣超股數,自營商買賣超股數,自營商買進股數(自行買賣),自營商賣出股數(自行買賣),自營商買賣超股數(自行買賣),自營商買進股數(避險),自營商賣出股數(避險),自營商買賣超股數(避險),三大法人買賣超股數
0,00632R,元大台灣50反1,"8,516,000","3,631,000","4,885,000",0.0,0.0,0.0,0,0,0,"98,712,066","1,530,000","1,845,000","-315,000","114,888,066","15,861,000","99,027,066","103,597,066"
1,00673R,期元大S&P原油反1,"1,027,000","1,707,000","-680,000",0.0,0.0,0.0,0,0,0,"37,508,531",0,0,0,"40,733,531","3,225,000","37,508,531","36,828,531"
2,00664R,國泰臺灣加權反1,0,"47,000","-47,000",0.0,0.0,0.0,0,0,0,"6,889,000",0,0,0,"9,674,000","2,785,000","6,889,000","6,842,000"
3,00637L,元大滬深300正2,"3,278,000","1,090,000","2,188,000",0.0,0.0,0.0,0,0,0,"2,970,583",0,0,0,"12,355,200","9,384,617","2,970,583","5,158,583"
4,3481,群創,"23,101,010","16,387,000","6,714,010",0.0,0.0,0.0,0,"300,000","-300,000","-1,931,726","307,000","1,232,000","-925,000","415,000","1,421,726","-1,006,726","4,482,284"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121,2888,新光金,"9,410,576","26,670,067","-17,259,491",0.0,0.0,0.0,0,0,0,"-2,247,036","305,000","2,418,170","-2,113,170","293,000","426,866","-133,866","-19,506,527"
1122,2887,台新金,"7,851,083","29,901,940","-22,050,857",0.0,0.0,0.0,"91,000",0,"91,000","-1,235,029","225,000","1,285,029","-1,060,029","96,000","271,000","-175,000","-23,194,886"
1123,0056,元大高股息,"520,913","2,768,000","-2,247,087",0.0,0.0,0.0,0,0,0,"-22,925,325","189,000","412,756","-223,756","96,000","22,797,569","-22,701,569","-25,172,412"
1124,00715L,期街口布蘭特正2,"1,799,000","7,050,000","-5,251,000",0.0,0.0,0.0,0,0,0,"-35,162,000",0,0,0,"5,434,000","40,596,000","-35,162,000","-40,413,000"
1125,00878,國泰永續高股息,"2,051,692","22,358,000","-20,306,308",0.0,0.0,0.0,0,0,0,"-52,662,294",0,0,0,"4,735,000","57,397,294","-52,662,294","-72,968,602"

In [54]:
df = df[["證券代號" , "證券名稱" , "外陸資買賣超股數(不含外資自營商)" , "投信買賣超股數" ,"自營商買賣超股數" , "三大法人買賣超股數"]]

In [55]:
df.set_axis(['股票代號','股票名稱','外資買賣超(不含外資自營商)','投信買賣超','自營商買賣超','三大法人買賣超'] , axis =1 , inplace=True)

In [56]:
df

,股票代號,股票名稱,外資買賣超(不含外資自營商),投信買賣超,自營商買賣超,三大法人買賣超
0,00632R,元大台灣50反1,"4,885,000",0,"98,712,066","103,597,066"
1,00673R,期元大S&P原油反1,"-680,000",0,"37,508,531","36,828,531"
2,00664R,國泰臺灣加權反1,"-47,000",0,"6,889,000","6,842,000"
3,00637L,元大滬深300正2,"2,188,000",0,"2,970,583","5,158,583"
4,3481,群創,"6,714,010","-300,000","-1,931,726","4,482,284"
...,...,...,...,...,...,...
1121,2888,新光金,"-17,259,491",0,"-2,247,036","-19,506,527"
1122,2887,台新金,"-22,050,857","91,000","-1,235,029","-23,194,886"
1123,0056,元大高股息,"-2,247,087",0,"-22,925,325","-25,172,412"
1124,00715L,期街口布蘭特正2,"-5,251,000",0,"-35,162,000","-40,413,000"
1125,00878,國泰永續高股息,"-20,306,308",0,"-52,662,294","-72,968,602"

In [108]:
db_settings = {
    "host": "127.0.0.1",
    "port": 3306,
    "user": "aaron",
    "password": "goxgox147",
    "db": "Stock_management",
    "charset": "utf8"
}

In [111]:
import pymysql
conn = pymysql.connect(**db_settings)
write.csv("abc" , df)

NameError: name 'write' is not defined

In [72]:
today = '20220907'
df.to_sql('institute_status_%s'%today, con = engine, if_exists = 'append', chunksize = 1000)

1126

In [94]:
import logging
logging.basicConfig(filename="/home/aaron/Desktop/Stock-Management-System-/temp/temp1.log",
                    format='%(asctime)s %(message)s',
                    filemode='w')

In [95]:
logger = logging.getLogger()
logger.setLevel(logging.DEBUG)
logger.debug("Harmless debug Message")
logger.info("Just an information")
logger.warning("Its a Warning")
logger.error("Did you try to divide by zero")
logger.critical("Internet is down")

In [96]:
def get_ins_info():
        
        today = date.today()
        # today = today.strftime("%Y%m%d")
        today = '20220907' # (if test this function after 12pm, will fail cause the web doesn't have data yet)
        try:
            r = requests.get('http://www.tse.com.tw/fund/T86?response=csv&date='+today+'&selectType=ALLBUT0999')
            df = pd.read_csv(StringIO(r.text) , header = 1).dropna(how='all' ,axis =1 ).dropna(how='any')
            #移除原先表格中會有的多餘符號
        except:
            return None
        ##轉為適當格式
        df = df.astype(str).apply(lambda s: s.str.replace('"' , ''))
        df['證券代號'] = df['證券代號'].str.replace('=' , '').str.replace('"' , '')
        # df = df.drop(['證券代號'] , axis=1)
        # df = df.set_index(['股票名稱'])
        ## remain specific columns
        df = df[["證券代號" , "證券名稱" , "外陸資買賣超股數(不含外資自營商)" , "投信買賣超股數" ,"自營商買賣超股數" , "三大法人買賣超股數"]]
        df.set_axis(['股票代號','股票名稱','外資買賣超(不含外資自營商)','投信買賣超','自營商買賣超','三大法人買賣超'] , axis =1 , inplace=True)
        
        return df

In [112]:
df

,股票代號,股票名稱,外資買賣超(不含外資自營商),投信買賣超,自營商買賣超,三大法人買賣超
0,00632R,元大台灣50反1,"4,885,000",0,"98,712,066","103,597,066"
1,00673R,期元大S&P原油反1,"-680,000",0,"37,508,531","36,828,531"
2,00664R,國泰臺灣加權反1,"-47,000",0,"6,889,000","6,842,000"
3,00637L,元大滬深300正2,"2,188,000",0,"2,970,583","5,158,583"
4,3481,群創,"6,714,010","-300,000","-1,931,726","4,482,284"
...,...,...,...,...,...,...
1121,2888,新光金,"-17,259,491",0,"-2,247,036","-19,506,527"
1122,2887,台新金,"-22,050,857","91,000","-1,235,029","-23,194,886"
1123,0056,元大高股息,"-2,247,087",0,"-22,925,325","-25,172,412"
1124,00715L,期街口布蘭特正2,"-5,251,000",0,"-35,162,000","-40,413,000"
1125,00878,國泰永續高股息,"-20,306,308",0,"-52,662,294","-72,968,602"

In [121]:
df.to_csv("table.csv"  , header = 1)

In [120]:
import os
os.path.abspath(os.path.dirname(__file__))

NameError: name '__file__' is not defined

In [103]:
import schedule

In [102]:
import logging
logging.basicConfig(filename="database.log",
                    format='%(asctime)s %(message)s',
                    filemode='w')
        
logger = logging.getLogger("record_database")
logger.setLevel(logging.INFO)
def inputDB(table):
    engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="aaron",
                               pw="goxgox147",
                               db="Stock_management"))
    today = date.today()
    table.to_sql('institute_status_%s'%today, con = engine, if_exists = 'append', chunksize = 1000)
        #Create log file
    logger.info("%s , successfully save into database"%today)
inputDB(df)